
<div *ngIf="userExtra">
    <h2><span jhiTranslate="agileManagerApp.userExtra.detail.title">User Extra</span> {{userExtra.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="agileManagerApp.userExtra.description">Description</span></dt>
        <dd>
            <span>{{userExtra.description}}</span>
        </dd>
        <dt><span jhiTranslate="agileManagerApp.userExtra.user">User</span></dt>
        <dd>
            {{userExtra.user?.id}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-extra/'+ userExtra.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
