
<div *ngIf="checkList">
    <h2><span jhiTranslate="agileManagerApp.checkList.detail.title">Check List</span> {{checkList.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="agileManagerApp.checkList.title">Title</span></dt>
        <dd>
            <span>{{checkList.title}}</span>
        </dd>
        <dt><span jhiTranslate="agileManagerApp.checkList.task">Task</span></dt>
        <dd>
            <div *ngIf="checkList.task">
                <a [routerLink]="['/task', checkList.task?.id]">{{checkList.task?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'check-list/'+ checkList.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
