<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTagLabel" jhiTranslate="agileManagerApp.tag.home.createOrEditLabel">Create or edit a Tag</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tag.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tag.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agileManagerApp.tag.label" for="field_label">Label</label>
            <input type="text" class="form-control" name="label" id="field_label"
                [(ngModel)]="tag.label" required/>
            <div [hidden]="!(editForm.controls.label?.dirty && editForm.controls.label?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.label?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agileManagerApp.tag.order" for="field_order">Order</label>
            <input type="number" class="form-control" name="order" id="field_order"
                [(ngModel)]="tag.order" required/>
            <div [hidden]="!(editForm.controls.order?.dirty && editForm.controls.order?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.order?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.order?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agileManagerApp.tag.tagged" for="field_tagged">Tagged</label>
            <input type="checkbox" class="form-control" name="tagged" id="field_tagged"
                [(ngModel)]="tag.tagged" />
            <div [hidden]="!(editForm.controls.tagged?.dirty && editForm.controls.tagged?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tagged?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="agileManagerApp.tag.tagList" for="field_tagList">Tag List</label>
            <select class="form-control" id="field_tagList" name="tagList" [(ngModel)]="tag.tagList" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tagListOption.id === tag.tagList?.id ? tag.tagList : tagListOption" *ngFor="let tagListOption of taglists; trackBy: trackTagListById">{{tagListOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
